extend layout

block content
  h1 #{title}
  ul.errors
  if errors
    each error, i in errors
      li.alert.red #{error.msg}

  form(method='post', action='/add/article')
    .input-group
      input(name='title', type='text', required)
      label Title
    
    .input-group
      input(name='subtitle', type='text', required)
      label Sub Title

    .input-group
      input(name='author', type='text', required)
      label Author

    .input-group
      select.form-controls(name='category', required)
        each category, i in categories
          option(name=category.title, value=category._id) #{category.title}
      label

    .input-group
      textarea(name='body', rows='20', placeholder="Body")
      label

    input(type="hidden", name="date")


    button(class='btn green', type='submit', name='submit', value='Save') Save
    a(class='btn red left', href='/articles') Back