extend layout

block content
  article
    h2.post-title #{articles.title}
    h4.post-subtitle #{articles.subtitle}
    p.post-meta
      | by #{articles.author}
      | on #{moment(articles.created).format('MMMM Do YYYY, h:mm:ss a')}
    hr
    p.post-body
      | #{articles.body}
  hr

  ul.errors
  if errors
    each error, i in errors
      li.alert.red #{error.msg}

  section#comment-wrapper
    h4.comment-header Comments
    form.comment-form(method='post', action='/article/comments/add/' + articles._id)
      .input-group
        input.form-controls(type='text', name='comment_subject', required)
        label Subject
      .input-group
        input.form-controls(type='text', name='comment_author', required)
        label Author
      .input-group
        input.form-controls(type='text', name='comment_email', required)
        label Email
      .input-group
        textarea.form-controls(type='text', rows='10', name='comment_body', placeholder='Body', required)
        label 
      input.btn.green.right(name='submit', type='submit', value='Add Comment')

  hr

  section.comments
    each comment, i in articles.comments
      div.comment
        h5 posted by #{comment.comment_author}
        p #{comment.comment_body}