extend layout

block content
  h1 #{title}
  form(method='post', action='/edit/article/' + article._id)
    .input-group
      input(name='title', type='text', value=article.title)
      label Title

    .input-group
      input(name='subtitle', type='text', value=article.subtitle)
      label Subtitle

    .input-group
      input(name='author', type='text', value=article.author)
      label Author

    .input-group
      select.form-controls(name='category')
        each category, i in categories
          if (category._id == article.category)
            option(value=category._id, selected) #{category.title}
          else
            option(value=category._id) #{category.title}
      label

    .input-group
      textarea(name='body', rows='20', placeholder='Content') #{article.body}
      label 

    button(class='green', type='submit', name='submit', value='Save') Save
    a(href='/manage/articles') Back

    a(class='delete-article', href='/manage/articles/' + article._id, data-article-id=article._id) Delete
